## Trinomial Search For Documents Stored in Constellate's Datasets
This Jupyter Notebook contains programming to search for trinomial instances in datasets built using Constellate's dataset builder. 

**How this notebook functions:** Using a dataset built with Constellate's dataset builder (https://constellate.org/) and json file with state and county abbreviations, this notebook allows the user to search the unigrams from every article within a dataset for Smithsonian Trinomials and export a .csv file with the Smithsonian Trinomial and the JSTOR stable url data. 

**What you need to start using this notebook:** Dataset file built using Constellate (https://constellate.org/), JSON file with State and County Abbreviation information, Jupyter Lab environment and Python

In [1]:
import numpy as np
import pandas as pd
import csv
import time

In [2]:
with open('3ce88441-1eb6-c10e-970d-7d071ad33299.jsonl', 'r') as path:
    df = pd.read_json(path, lines=True) #create dataframe (df) from data within jsonl file from constellate
print (df)

    datePublished  docType                                    id  \
0      1991-01-01  article  http://www.jstor.org/stable/20708313
1      1988-01-01  article  http://www.jstor.org/stable/20708269
2      1991-01-01  article  http://www.jstor.org/stable/20708320
3      1992-10-01  article  http://www.jstor.org/stable/20708331
4      1991-01-01  article  http://www.jstor.org/stable/20708318
..            ...      ...                                   ...
577    2012-10-01  article  http://www.jstor.org/stable/24571142
578    1976-01-01  article  http://www.jstor.org/stable/20707782
579    2012-04-01  article  http://www.jstor.org/stable/24571266
580    2011-10-01  article  http://www.jstor.org/stable/24571042
581    2008-10-01  article  http://www.jstor.org/stable/41220753

                                            identifier  \
0    [{'name': 'issn', 'value': '01461109'}, {'name...
1    [{'name': 'issn', 'value': '01461109'}, {'name...
2    [{'name': 'issn', 'value': '01461109'}, {'name...
3    [{'name': 'issn', 'value': '01461109'}, {'name...
4    [{'name': 'issn', 'value': '01461109'}, {'name...
..                                                 ...
577  [{'name': 'issn', 'value': '01461109'}, {'name...
578  [{'name': 'issn', 'value': '01461109'}, {'name...
579  [{'name': 'issn', 'value': '01461109'}, {'name...
580  [{'name': 'issn', 'value': '01461109'}, {'name...
581  [{'name': 'issn', 'value': '01461109'}, {'name...

                                  isPartOf  issueNumber language  \
0    Midcontinental Journal of Archaeology          2.0    [eng]
1    Midcontinental Journal of Archaeology          2.0    [eng]
2    Midcontinental Journal of Archaeology          2.0    [eng]
3    Midcontinental Journal of Archaeology          2.0    [eng]
4    Midcontinental Journal of Archaeology          2.0    [eng]
..                                     ...          ...      ...
577  Midcontinental Journal of Archaeology          2.0    [eng]
578  Midcontinental Journal of Archaeology          NaN    [eng]
579  Midcontinental Journal of Archaeology          1.0    [eng]
580  Midcontinental Journal of Archaeology          2.0    [eng]
581  Midcontinental Journal of Archaeology          2.0    [eng]

                   outputFormat  pageCount provider  ...  wordCount  \
0    [unigram, bigram, trigram]          4    jstor  ...        678
1    [unigram, bigram, trigram]          4    jstor  ...        756
2    [unigram, bigram, trigram]          1    jstor  ...        327
3    [unigram, bigram, trigram]         27    jstor  ...       7059
4    [unigram, bigram, trigram]         13    jstor  ...       3306
..                          ...        ...      ...  ...        ...
577  [unigram, bigram, trigram]         14    jstor  ...       8406
578  [unigram, bigram, trigram]         34    jstor  ...      15516
579  [unigram, bigram, trigram]          5    jstor  ...       3749
580  [unigram, bigram, trigram]         27    jstor  ...      18053
581  [unigram, bigram, trigram]          4    jstor  ...       1077

                                          unigramCount  \
0    {'HURLEY,': 1, 'Map': 1, 'text': 1, 'illustrat...
1    {'Wis.': 1, 'FAULKNER,': 1, 'Institutions:': 1...
2    {'archae': 2, 'Ancient': 1, 'materials': 1, 'H...
3    {'Tennessee': 1, 'artifact,': 1, 'matrix.': 1,...
4    {'m,': 1, 'remained': 1, 'show': 1, 'Johnson,'...
..                                                 ...
577  {'loyalists': 1, 'year,': 3, 'small': 7, 'well...
578  {'700': 1, 'meeting).': 1, 'Caddo': 3, 'probab...
579  {'challenges': 2, 'disturbance': 2, 'better': ...
580  {'commemoration,': 6, 'tion': 6, 'placed': 2, ...
581  {'Manuscript': 1, 'spring': 1, 'an': 1, 'North...

                                           bigramCount  \
0    {'clients. This': 1, 'of specific': 1, 'alphab...
1    {''^^^^^^^ MIDCONTINENTAL': 1, 'Polythetic-Sat...
2    {'should own': 1, 'Paper, $27.95': 1, 'America...
3    {'H., Jr.': 1, 'and Curtis': 1, 'eastern wild'...
4    {'Period Research': 1, 'larger size,': 1, 'the...
..                                                 ...
577  {'the winter': 3, 'doned after': 2, 'of Lake':...
578  {'excavation. Another': 1, 'Archaeological Sur...
579  {'stop in': 2, 'South ern': 2, 'Atlantic coast...
580  {'that other': 2, 'was no': 2, 'stones bearing...
581  {'year, $20': 1, 'the publisher,': 1, 'Baldia,...

                                          trigramCount  \
0    {'01970, for copying': 1, 'office by the': 1, ...
1    {'Toronto, Ont., Canada.': 1, 'Kent, Ohio 4424...
2    {'series. Illus. $44.95': 1, 'Northern Asia An...
3    {'Arbor. Smith, Lawson': 1, 'were probably fro...
4    {'Conservation Service, Washington,': 1, 'this...
..                                                 ...
577  {'landscape. The result': 2, 'these American v...
578  {'intermittently occupied and': 1, 'the region...
579  {'Green River at': 2, 'Upper Ohio rivers.': 2,...
580  {'politics of post': 2, 'Pennsylvania Museum o...
581  {'payable to AltaMira': 1, 'Robert Jeske, Depa...

                                              abstract  \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3    The Fitzhugh site (3LN212) is a late Baytown p...
4    The Stone Serpent Mound of Boyd County, Kentuc...
..                                                 ...
577                                                NaN
578                                                NaN
579                                                NaN
580  The Brothertown Indian community formed in the...
581                                                NaN

                                creator  pageEnd pageStart   pagination  \
0                                   NaN      NaN       NaN          NaN
1                                   NaN      NaN       NaN          NaN
2                                   NaN      NaN       NaN          NaN
3    [Michael S. Nassaney, Rob Hoffman]      165       139  pp. 139-165
4                     [Sara L. Sanders]      284       272  pp. 272-284
..                                  ...      ...       ...          ...
577                 [Mark C. Branstner]      174       161  pp. 161-174
578                  [James B. Griffin]       38         5     pp. 5-38
579                 [Patrick D. Trader]      152       148  pp. 148-152
580                  [Craig N. Cipolla]      171       145  pp. 145-171
581                                 NaN      NaN       NaN          NaN

                                           tdmCategory
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                      [Physical sciences - Astronomy]
4                      [Physical sciences - Astronomy]
..                                                 ...
577             [Political science - Military science]
578  [Physical sciences - Astronomy, History - Hist...
579  [Biological sciences - Agriculture, Biological...
580                    [Physical sciences - Astronomy]
581  [Biological sciences - Biology, Information sc...

[582 rows x 26 columns]

In [3]:
df.columns

Index(['datePublished', 'docType', 'id', 'identifier', 'isPartOf',
       'issueNumber', 'language', 'outputFormat', 'pageCount', 'provider',
       'publicationYear', 'publisher', 'sourceCategory', 'title', 'url',
       'volumeNumber', 'wordCount', 'unigramCount', 'bigramCount',
       'trigramCount', 'abstract', 'creator', 'pageEnd', 'pageStart',
       'pagination', 'tdmCategory'],
      dtype='object')

In [4]:
df.id

0      http://www.jstor.org/stable/20708313
1      http://www.jstor.org/stable/20708269
2      http://www.jstor.org/stable/20708320
3      http://www.jstor.org/stable/20708331
4      http://www.jstor.org/stable/20708318
                       ...
577    http://www.jstor.org/stable/24571142
578    http://www.jstor.org/stable/20707782
579    http://www.jstor.org/stable/24571266
580    http://www.jstor.org/stable/24571042
581    http://www.jstor.org/stable/41220753
Name: id, Length: 582, dtype: object

In [5]:
newdf = pd.DataFrame()

start_time = time.time() 
for x in range(0,(len(df.unigramCount)-1)): #Separates the unigrams into individual rows keeping the url information for the article with each one
    tempdf = pd.DataFrame.from_dict(df.at[x,'unigramCount'], orient='index')
    tempdf.index.name='text' 
    tempdf.reset_index(inplace=True)

    tempdf = tempdf.rename(columns={0: 'count'})
    tempdf = tempdf.assign(id = df.at[x,'id'])
    
    newdf = newdf.append(tempdf) #appends new dataframe (newdf) with the new rows formed from the unigram count row in original dataframe

end_time = time.time() #time check for entire process
total_time = end_time - start_time
print (total_time)
print (newdf)

30.610790967941284
               text  count                                    id
0           HURLEY,      1  http://www.jstor.org/stable/20708313
1               Map      1  http://www.jstor.org/stable/20708313
2              text      1  http://www.jstor.org/stable/20708313
3     illustrations      1  http://www.jstor.org/stable/20708313
4          Madison,      1  http://www.jstor.org/stable/20708313
...             ...    ...                                   ...
3166   Recognition,      2  http://www.jstor.org/stable/24571042
3167           Veit      2  http://www.jstor.org/stable/24571042
3168        peoples      6  http://www.jstor.org/stable/24571042
3169    petitioning      2  http://www.jstor.org/stable/24571042
3170         assump      2  http://www.jstor.org/stable/24571042

[1124713 rows x 3 columns]

In [6]:
print (len(df.unigramCount))

582

In [7]:
#newdf.to_csv('DataDump.csv')

In [25]:
contains_12VG = newdf.loc[newdf['text'].str.contains("12VG",case = False)] #test case for normal smithsonian trinomial formatting
contains_12VG

        text  count                                    id  contains_number
252    12Vgl      1  http://www.jstor.org/stable/20708306             True
259  (12Vgl)      1  http://www.jstor.org/stable/20707949             True

In [10]:
contains_12VG_alt1 = newdf.loc[newdf['text'].str.contains("12-VG", case = False)] #test case for smithsonian trinomial formatting option 2
contains_12VG_alt1

Empty DataFrame
Columns: [text, count, id]
Index: []

In [11]:
contains_12VG_alt2 = newdf.loc[newdf['text'].str.contains("12/VG", case = False)] #test case for smithsonian trinomial formatting option 3
contains_12VG_alt2

Empty DataFrame
Columns: [text, count, id]
Index: []

In [28]:
def contains_num (s):   #functtion to determine if a string contains a digit in any location
    return any(i.isdigit() for i in s)

In [29]:
newdf['contains_number'] = np.where(newdf.text , True, False) #currently non functioning method for identifying whether the string in the 'text' column contains a number
print (newdf)

               text  count                                    id  \
0           HURLEY,      1  http://www.jstor.org/stable/20708313
1               Map      1  http://www.jstor.org/stable/20708313
2              text      1  http://www.jstor.org/stable/20708313
3     illustrations      1  http://www.jstor.org/stable/20708313
4          Madison,      1  http://www.jstor.org/stable/20708313
...             ...    ...                                   ...
3166   Recognition,      2  http://www.jstor.org/stable/24571042
3167           Veit      2  http://www.jstor.org/stable/24571042
3168        peoples      6  http://www.jstor.org/stable/24571042
3169    petitioning      2  http://www.jstor.org/stable/24571042
3170         assump      2  http://www.jstor.org/stable/24571042

      contains_number
0                True
1                True
2                True
3                True
4                True
...               ...
3166             True
3167             True
3168             True
3169             True
3170             True

[1124713 rows x 4 columns]